<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Contacts</title>
</head>
<body>
 
        <div id="content">
<h1>Welcome to Contact page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim atque pariatur molestiae veritatis ab possimus commodi perspiciatis aspernatur totam. Voluptatem praesentium facere sunt quasi maxime, provident delectus iusto fugiat molestias!</p>
        </div>
       
        <script>
            console.log("contact page")
        </script>
</body>
</html>